

NODE_ENV=development
HOST=0.0.0.0
PORT=3000

# Database (MySQL) 
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=clinical_user
DB_PASSWORD=change_me_in_prod
DB_NAME=clinical_studio
SEED_ADMIN_EMAIL=admin@gmail.com
# SEED config
RUN_SEEDS=true
# DEV/PROD db set up
DB_SYNCHRONIZE=true
DB_LOGGING=false

#  JWT 
JWT_SECRET=replace_with_a_long_random_string_at_least_64_chars
JWT_EXPIRES_IN=1h

# Magic Link Auth EXP
MAGIC_LINK_EXPIRES_IN=900  # 15 minutes


# Encryption 
.
ENCRYPTION_KEY=change_me_16chars

#Presidio Services 
PRESIDIO_ANALYZER_URL=http://localhost:5001
PRESIDIO_ANONYMIZER_URL=http://localhost:5002

#CORS 
CORS_ORIGIN=http://localhost:5173
